@model DapperUniversity.Models.Department
@{
    ViewData["Title"] = "Departments";
}

<main>
  <div class="col-lg-6 col-sm-12">
  <h2 class="mb-3">Department Details</h2>
  <hr />
  <dl class="dl-horizontal">
    <dt>
      @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Budget)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Budget)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.InstructorId)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.InstructorId)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.StartDate)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.StartDate)
    </dd>
    <dt>
      @Html.DisplayNameFor(model => model.Instructor)
    </dt>
    <dd>
      @Html.DisplayFor(model => model.Instructor.FullName)
    </dd>
  </dl>
  <div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link">Edit</a> |
    <a asp-action="Index" class="btn btn-link">Back to List</a>
  </div>
</div>
