@model IEnumerable<DapperUniversity.Models.Course>
@{
    ViewData["Title"] = "Course";
}

<div style="margin-bottom:10px;">
  <h1 class="is-size-3">Courses</h1>
  <p>
    <a asp-action="Create" class="btn is-link">Create New</a>
  </p>
</div>

<table class="table is-striped is-fullwidth is-hoverable">

  <thead>
    <tr>
      <th>
        @Html.DisplayNameFor(c=>c.Id)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Title)
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Credits)
      </th>
      <th>
        Department
      </th>
      <th></th>
    </tr>
  </thead>

  @foreach (var item in Model) {
    <tr>
      <td>
        @Html.DisplayFor(s=> item.Id)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Title)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Credits)
      </td>
      <td>
        @Html.DisplayFor(modelItem => item.Department.Name)
      </td>
      <td>
        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">Delete</a>
      </td>
    </tr>
  }

</table>
