@model IEnumerable<DapperUniversity.Models.Course>
@{
    ViewData["Title"] = "Course";
}

<main class="container mt-4">
  <h2>Courses</h2>
  <a asp-action="Create" class="btn is-link mb-2">Create New</a>
  <table class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>
          <span class="text-dark"><strong>@Html.DisplayNameFor(c=>c.Id)</strong>
        </th>
        <th>
          <span class="text-dark"><strong>@Html.DisplayNameFor(model => model.Title)</strong>
        </th>
        <th>
          <span class="text-dark"><strong>@Html.DisplayNameFor(model => model.Credits)</strong>
        </th>
        <th>
          <span class="text-dark"><strong>Department</strong></span>
        </th>
        <th></th>
      </tr>
    </thead>

    @foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(s=> item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Department.Name)
        </td>
        <td>
          <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-link">Edit</a> |
          <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-link">Details</a> |
          <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-link">Delete</a>
        </td>
      </tr>
    }
  </table>
</main>
