@model DapperUniversity.Models.Instructor
@{
    ViewData["Title"] = "Instructors";
}

<main>
  <div class="col-lg-6 col-sm-12">
  <h2 class="mb-3">Instructor Details</h2>
  <hr />
    <dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.LastName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LastName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.HireDate)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.HireDate)
    </dd>
    </dl>
    <div>
      <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link">Edit</a> |
      <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
  </div>
</main>

