@model DapperUniversity.Models.Student
@{
    ViewData["Title"] = "Students";
}

<main>
  <div class="col-lg-6 col-sm-12">
  <h2 class="mb-3">Student Details</h2>
  <hr />
    <dl class="dl-horizontal">
      <dt>
          @Html.DisplayNameFor(model => model.LastName)
      </dt>
      <dd>
          @Html.DisplayFor(model => model.LastName)
      </dd>
      <dt>
          @Html.DisplayNameFor(model => model.FirstName)
      </dt>
      <dd>
          @Html.DisplayFor(model => model.FirstName)
      </dd>
      <dt>
          @Html.DisplayNameFor(model => model.EnrollmentDate)
      </dt>
      <dd>
          @Html.DisplayFor(model => model.EnrollmentDate)
      </dd>
      <dt>
          @Html.DisplayNameFor(model => model.Enrollments)
      </dt>
      <dd>
        <table class="table table-striped">
          <tr>
            <th>Course Title</th>
            <th>Grade</th>
          </tr>
          @foreach (var item in Model.Enrollments)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.Course.Title)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Grade)
              </td>
            </tr>
          }
        </table>
      </dd>
    </dl>
    <div>
      <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link">Edit</a> |
      <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
  </div>
</main>
